   <div class="carousel-item active">
                                          <div class="row">
                                              <div class="col-md-12 col-xl-3 d-flex flex-column justify-content-start">
                                                  <div class="ml-xl-4 mt-3">
                                                      <p class="card-title">Báo cáo tổng quan</p>
                                                      <h3 class="text-primary">QH-2019-I/CQ-J</h1>

                                                          <p class="mb-2 mb-xl-0">
                                                              Tổng kết thành tích học tập ,hoạt động của chi đoàn
                                                              QH-2019-I/CQ-J trong thời gian vừa qua</p>
                                                  </div>
                                              </div>
                                              <div class="col-md-12 col-xl-9">
                                                  <div class="row">
                                                      <div class="col-md-10 ">
                                                          <div class="table-responsive mb-3 mb-md-0 mt-3">
                                                              <table class="table table-borderless report-table">
                                                                  <tr>
                                                                      <td class="text-muted">Số lượng sinh viên suất sắc
                                                                      </td>
                                                                      <td class="w-100 px-0">
                                                                          <div class="progress progress-md mx-4">
                                                                              <div class="progress-bar bg-primary"
                                                                                  role="progressbar" style="width: 30%"
                                                                                  aria-valuenow="70" aria-valuemin="0"
                                                                                  aria-valuemax="100"></div>
                                                                          </div>
                                                                      </td>
                                                                      <td>
                                                                          <h5 class="font-weight-bold mb-0">7
                                                                          </h5>
                                                                      </td>
                                                                  </tr>
                                                                  <tr>
                                                                      <td class="text-muted"> Số lượng sinh viên giỏi
                                                                      </td>
                                                                      <td class="w-100 px-0">
                                                                          <div class="progress progress-md mx-4">
                                                                              <div class="progress-bar bg-primary"
                                                                                  role="progressbar" style="width: 60%"
                                                                                  aria-valuenow="30" aria-valuemin="0"
                                                                                  aria-valuemax="100"></div>
                                                                          </div>
                                                                      </td>
                                                                      <td>
                                                                          <h5 class="font-weight-bold mb-0">40
                                                                          </h5>
                                                                      </td>
                                                                  </tr>
                                                                  <tr>
                                                                      <td class="text-muted">Số lượng sinh viên khá</td>
                                                                      <td class="w-100 px-0">
                                                                          <div class="progress progress-md mx-4">
                                                                              <div class="progress-bar bg-primary"
                                                                                  role="progressbar" style="width: 10%"
                                                                                  aria-valuenow="30" aria-valuemin="0"
                                                                                  aria-valuemax="100"></div>
                                                                          </div>
                                                                      </td>
                                                                      <td>
                                                                          <h5 class="font-weight-bold mb-0">4
                                                                          </h5>
                                                                      </td>
                                                                  </tr>
                                                                  <tr>
                                                                      <td class="text-muted">Sinh viên chuyên cần loại
                                                                          tốt
                                                                      </td>
                                                                      <td class="w-100 px-0">
                                                                          <div class="progress progress-md mx-4">
                                                                              <div class="progress-bar bg-info"
                                                                                  role="progressbar" style="width: 99%"
                                                                                  aria-valuenow="60" aria-valuemin="0"
                                                                                  aria-valuemax="100"></div>
                                                                          </div>
                                                                      </td>
                                                                      <td>
                                                                          <h5 class="font-weight-bold mb-0">51
                                                                          </h5>
                                                                      </td>
                                                                  </tr>
                                                                  <tr>
                                                                      <td class="text-muted">Sinh viên bị nhắc nhở
                                                                      </td>
                                                                      <td class="w-100 px-0">
                                                                          <div class="progress progress-md mx-4">
                                                                              <div class="progress-bar bg-primary"
                                                                                  role="progressbar" style="width: 0%"
                                                                                  aria-valuenow="40" aria-valuemin="0"
                                                                                  aria-valuemax="100"></div>
                                                                          </div>
                                                                      </td>
                                                                      <td>
                                                                          <h5 class="font-weight-bold mb-0">0
                                                                          </h5>
                                                                      </td>
                                                                  </tr>
                                                                  <tr>
                                                                      <td class="text-muted">Sinh viên bị cảnh báo </td>
                                                                      <td class="w-100 px-0">
                                                                          <div class="progress progress-md mx-4">
                                                                              <div class="progress-bar bg-danger"
                                                                                  role="progressbar" style="width: 0%"
                                                                                  aria-valuenow="75" aria-valuemin="0"
                                                                                  aria-valuemax="100"></div>
                                                                          </div>
                                                                      </td>
                                                                      <td>
                                                                          <h5 class="font-weight-bold mb-0">0
                                                                          </h5>
                                                                      </td>
                                                                  </tr>
                                                                  <tr>
                                                                      <td class="text-muted">Sinh viên muộn học phí </td>
                                                                      <td class="w-100 px-0">
                                                                          <div class="progress progress-md mx-4">
                                                                              <div class="progress-bar bg-danger"
                                                                                  role="progressbar" style="width: 0%"
                                                                                  aria-valuenow="75" aria-valuemin="0"
                                                                                  aria-valuemax="100"></div>
                                                                          </div>
                                                                      </td>
                                                                      <td>
                                                                          <h5 class="font-weight-bold mb-0">0
                                                                          </h5>
                                                                      </td>
                                                                  </tr>
                                                              </table>
                                                          </div>
                                                      </div>
                                                      <div class="col-md-2 ">
